.jumbotron {
    background-image: url("images/birdy.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%; 

}

.nav-img{
    max-height: 64px; 
    min-height: 32px; 
    display: inline; 
}
#logo{
    height: 42px; 
    width: auto;
    margin: 0;  
}

@media only screen 
  and (max-width: 480px) {
    #header {
    background-position: right center;
}

/* .mt-5, .my-5 {
    margin-top: 6.5rem!important; */
